{% extends 'layaut.html' %}

{% block body %}

<body>
    <div>
        <h3><b>Welcome to house! Programmer</b></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In minima, fugit quae soluta adipisci maiores
            perspiciatis minus, ad expedita quaerat impedit praesentium cum veritatis temporibus voluptates consequuntur
            labore ipsam nobis.
            Provident obcaecati eligendi nostrum quod repellendus ex quasi pariatur, aperiam reiciendis fugiat
            architecto repellat porro nesciunt minima facere atque dolorem modi rerum, fugit eaque eos delectus error
            doloribus? Culpa, doloremque.
            Iste saepe dicta, facere ratione animi itaque aspernatur excepturi unde totam voluptate quam, mollitia autem
            odit enim dignissimos non deserunt at quod velit! Aliquid dolores, ea hic libero cumque excepturi!
            Odio enim accusamus laudantium tempore tenetur architecto maiores animi quis veritatis incidunt ipsum fugit
            nostrum cum mollitia, maxime asperiores inventore nesciunt? Placeat molestiae obcaecati veniam optio soluta,
            dolorum perferendis nisi.</p>
    </div>
</body>
{% endblock %}